<!DOCTYPE html>
<html lang="zh_CN">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Page Title</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../styles/sty01.css" rel="stylesheet" type="text/css">
    <style>

    </style>
</head>

<body>
    <div class="header">
        <p>Disofoo</p>
        <h2>迪赛福</h2>
        <h5>有一条叫做未来的路，我们一起走！</h5>
    </div>
    <div class="menu">
        <ul>
            <li>
                <h4>管理员配置</h4>
            </li>
            <li>
                <h4>总经理配置</h4>
            </li>
            <li>
                <h4>修改密码</h4>
            </li>
            <li>
                <h4>上班签到</h4>
            </li>
            <li>
                <h4>下班签退</h4>
            </li>
            <li>
                <h4>查询通讯录</h4>
            </li>
            <li>
                <h4>订货</h4>
            </li>
        </ul>

    </div>
    <div class="topTitle">
        <h5>当前登录：管理员 2018-09-19 17:21:35</h5>
    </div>
    <div class="content">
        <div class="left">

        </div>
        <div class="right">
            <div></div>
            <div></div>
        </div>
    </div>
    <div class="footer">
        <p>Copyright © 2018 - 2018 shloma.com 版权所有</p>
    </div>
</body>

</html>