<!DOCTYPE html>
<html lang="zh_CN">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>迪赛福</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="../../styles/sty01.css" rel="stylesheet" type="text/css">
    <style>

    </style>
</head>

<body>
    <div class="header">
        <p>Disofoo</p>
        <h2>迪赛福</h2>
        <h5>有一条叫做未来的路，我们一起走！</h5>
    </div>
    <div class="menu">
        <ul>
            <li>
                <a href="#"><h4>管理员配置</h4></a>
            </li>
            <li>
               <a href="#"><h4>总经理配置</h4></a>
            </li>
            <li>
               <a href="#"><h4>修改密码</h4></a>
            </li>
            <li>
               <a href="#"><h4>上班签到</h4></a>
            </li>
            <li>
               <a href="#"><h4>下班签退</h4></a>
            </li>
            <li>
               <a href="#"><h4>查询通讯录</h4></a>
            </li>
            <li>
               <a href="#"><h4>订货</h4></a>
            </li>
        </ul>

    </div>
    <div class="topTitle">
        <h5>当前登录：管理员 2018-09-19 17:21:35</h5>
    </div>
    <div class="content">
        <div class="left">
            <table class="tab-image">
                <tr class="tr-title">
                    <td colspan="2">分公司空间</td>
                </tr>
                <tr class="tr-image">
                    <td class="td-pannel">
                        <img src="../../images/img01.jpg" class="images">
                        <p>测试有限责任公司</p>
                        <p>上传人：二狗子 2018-09-20</p>
                    </td>
                    <td class="td-pannel">
                        <img src="../../images/img02.jpg" class="images">
                        <p>测试有限责任公司</p>
                        <p>上传人：二狗子 2018-09-20</p>
                    </td>
                </tr>
                <tr class="tr-title">
                    <td colspan="2">精品推荐</td>
                </tr>
                <tr class="tr-image">
                    <td class="td-pannel">
                        <img src="../../images/img03.jpg" class="images">
                        <p>测试有限责任公司</p>
                        <p>上传人：二狗子 2018-09-20</p>
                    </td>
                    <td class="td-pannel">
                        <img src="../../images/img04.jpg" class="images">
                        <p>测试有限责任公司</p>
                        <p>上传人：二狗子 2018-09-20</p>
                    </td>
                </tr>
            </table>
        </div>
        <div class="right">
            <div class="right-top">
                <div class="groupgg tabTitle">
                    <span class="span-title">集团公告</span>
                    <table class="tab-data">
                        <thead>
                            <th>标题</th>
                            <th>日期</th>
                        </thead>
                        <tr class="alt">
                            <td>进软件同事必读（2）</td>
                            <td>2018-09-19</td>
                        </tr>
                        <tr>
                            <td>进软件同事必读（2）</td>
                            <td>2018-09-19</td>
                        </tr>
                        <tr class="alt">
                            <td>进软件同事必读（2）</td>
                            <td>2018-09-19</td>
                        </tr>
                        <tr>
                            <td>进软件同事必读（2）</td>
                            <td>2018-09-19</td>
                        </tr>
                        <tr class="alt">
                            <td>进软件同事必读（2）</td>
                            <td>2018-09-19</td>
                        </tr>
                        <tr>
                            <td>进软件同事必读（2）</td>
                            <td>2018-09-19</td>
                        </tr>
                    </table>
                </div>
                <div class="xinwen tabTitle">
                    <span class="span-title">新闻资讯</span>
                    <table class="tab-data">
                        <thead>
                            <th>标题</th>
                            <th>日期</th>
                        </thead>
                        <tr class="alt">
                            <td>进软件同事必读（2）</td>
                            <td>2018-09-19</td>
                        </tr>
                        <tr>
                            <td>进软件同事必读（2）</td>
                            <td>2018-09-19</td>
                        </tr>
                        <tr class="alt">
                            <td>进软件同事必读（2）</td>
                            <td>2018-09-19</td>
                        </tr>
                        <tr>
                            <td>进软件同事必读（2）</td>
                            <td>2018-09-19</td>
                        </tr>
                        <tr class="alt">
                            <td>进软件同事必读（2）</td>
                            <td>2018-09-19</td>
                        </tr>
                        <tr>
                            <td>进软件同事必读（2）</td>
                            <td>2018-09-19</td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="right-bottom" style="text-align:center;">
                <span class="jiangfa tabTitle span-title">奖罚明细</span>
                <table class="tab-data">
                    <thead>
                        <th>标题</th>
                        <th>日期</th>
                    </thead>
                    <tr>
                        <td>进软件同事必读（2）</td>
                        <td>2018-09-19</td>
                    </tr>
                    <tr class="alt">
                        <td>进软件同事必读（2）</td>
                        <td>2018-09-19</td>
                    </tr>
                    <tr>
                        <td>进软件同事必读（2）</td>
                        <td>2018-09-19</td>
                    </tr>
                    <tr class="alt">
                        <td>进软件同事必读（2）</td>
                        <td>2018-09-19</td>
                    </tr>
                    <tr>
                        <td>进软件同事必读（2）</td>
                        <td>2018-09-19</td>
                    </tr>
                    <tr class="alt">
                        <td>进软件同事必读（2）</td>
                        <td>2018-09-19</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="footer">
        <p>Copyright © 2018 - 2018 shloma.com 版权所有</p>
    </div>
</body>

</html>