<!DOCTYPE html>
<html>

<head>
    <title>草坪网 | 用户注册</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
    <link href="../plugins/bootstrap-3.3.7/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="../styles/login.css" rel="stylesheet" type="text/css">
    <style type="text/css">
    .login-box {
        background-color: #fff;
    }

    .login-title {
        margin-bottom: 20px;
    }

    .form-control {
        width: 300px!important;
    }

    .login-btn {
        width: 300px;
    }

    ul>li {
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0.47px;
        line-height: 30px;
        list-style: none;
    }
    </style>
</head>

<body>
    <div class="container">
        <!-- 网站顶区 1903*61-->
        <div class="row" style="height: 61px;">
            <div class="col-md-12"></div>
            <!-- <hr> -->
        </div>
        <!-- 网站中间区 1903*580-->
        <div class="row" style="margin-top: 200px;">
            <!-- 网站介绍区 -->
            <div class="col-md-6">
                <h1 style="color: #FFFFFF;"><i>欢迎注册草坪网</i></h1>
                <ul>
                    <li>在这里您可以获取质量高、价格低的草坪信息</li>
                    <li>在这里您可以找到您所需要的专业草坪工</li>
                    <li>在这里您可以找到志同道合的合作伙伴</li>
                </ul>
            </div>
            <div class="col-md-1">
            </div>
            <!-- 登录区 -->
            <div class="col-md-5 login-box">
                <form class="form-horizontal col-md-offset-2 col-md-6">
                    <h4 class="text-center login-title">欢迎注册草坪网</h4>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="input" v-model="username" class="form-control" placeholder="设置会员名">
                        </div>
                    </div> 
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="password" v-model="password" class="form-control" placeholder="设置你的登录密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="password" v-model="password2" class="form-control" placeholder="请再次输入你的密码">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-12">
                            <input type="input" v-model="phoneNo" class="form-control" placeholder="请输入手机号">
                        </div>
                    </div> 
                    <div class="form-group">
                        <div class="col-sm-12">
                            <button type="submit" class="btn btn-success login-btn" @click="login()">登录</button>
                        </div>
                    </div> 
                    <div class="form-group col-md-offset-2">
                        <a href="login.html" style="margin-right: 10px;">快捷登录</a>
                    </div>
                </form>
            </div>
        </div>
        <!-- <hr> -->
        <!-- 网站底部区 1903*225-->
        <div class="row">
            <div class="col-md-12">
            </div>
        </div>
    </div>
    <script type="text/javascript" src="../plugins/jquery-3.3.1/js/jquery-3.3.1.min.js"></script>
    <script type="text/javascript" src="../plugins/bootstrap-3.3.7/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../plugins/vue/vue-2.5.17.js"></script>
    <script type="text/javascript">
    new Vue({
        el: ".container",
        data: {
            username: "",
            password: "",
        },
        methods: {
            login: function() {
                alert("username:" + this.username + "; password: " + this.password)
            },
        }
    });
    </script>
</body>

</html>