div {
    /*border: solid 1px;*/
}

* {
    margin: 0;
    padding: 0;
}

html, body {
    height: 100%;
}

.header {
    width: 100%;
    height: 130px;
    background-image: url(../images/header-background.jpg) ;
    background-repeat: no-repeat;
    background-size: 100% 130px;
    text-align: center;
    color: rgb(39, 3, 11);
}
.header>h2 {
    margin-bottom: 0;
    font-size: 2em;
}
.header>p {
    margin-top: 0;
}
.header>h2 {
    padding-top: 0;
    margin-top: 0;
}
.header>h5 {
    font-style: italic;
    font-family: '楷体';
    margin-bottom: 0;
}

.menu {
    width: 100%;
    height: 50px;
    background-color: rgb(247, 66, 66);
}
.menu>ul {
    height: 50px;
    margin: auto auto;
    padding-top: 0.8%;
    padding-left: 33%;
}
.menu>ul>li {
    float: left;
    left: 10em;
    margin-left: 10px;
    list-style-type:none;

}
.menu>ul>li>h4 {
    margin: 0;
}

.topTitle{
    width: 100%;
    height: 30px;
    margin-top: 2px;
}
.topTitle>h5 {
    text-align: right;
    

    margin: 2px auto;
    margin-right: 50px;
  
}

.content{
    width: 100%;
    /*height: 500px;*/
    height: 75%;;
    background-color: aqua;
}

.left{
    float: left;
    width: 47%;
    height: 100%;
    margin-left: 50px;
    background-color: rgb(179, 255, 0);
}
.right{
    float: right;
    width: 47%;
    height: 100%;
    margin-right: 50px;
    background-color: rgb(38, 46, 19);
}
.right-top {
    width: 100%;
    height: 50%;
    background-color: aquamarine;
}
.right-bottom {
    width: 100%;
    height: 50%;
    background-color: rgb(255, 185, 127);
}
.groupgg {
    width: 50%;
    height: 100%;
    float: left;
    background-color: blueviolet;
}
.xinwen {
    width: 50%;
    height: 100%;
    float: right;
    background-color: rgb(113, 43, 226);
}
.tabTitle {
    text-align: center;
    font-size: 1.5em;
}
.tabTitle>span, jiangfa {
    color: coral;
}
.tab-data {
    width: 100%;
    height: auto;
    border: 1;
}


.footer {
    width: 100%;
    height: 30px;
    text-align: center;
    background-color: rgba(54, 51, 51, 0.158);
}
.footer>p{
    margin-top: 0;
}